{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var integer activityRef #}
{# @var string lastActivityReason #}
{# @var string technicianResponsible #}
{# @var string extra #}
{# @var string {primaryMainContactFirstName} #}
{# @var string {{contactFirstName}}  {# XAVI THIS IS THE FIRSTNAME OF THE PERSON THAT TRIED TO GET SUPPORT BUT IS NOT AUTHORISED#}
{# @var string {{contactLastName}}  {# XAVI THIS IS THE FIRSTNAME OF THE PERSON THAT TRIED TO GET SUPPORT BUT IS NOT AUTHORISED#}
{# @var string {{contactSupportLevel}}  {# XAVI THIS IS THE Support LEvel OF THE PERSON THAT TRIED TO GET SUPPORT BUT IS NOT AUTHORISED#}
{% block headerTitle %}
    Information Notice
{% endblock %}

{% block headerContet %}
    Sorry, something didn't quite work for one of your staff
{% endblock %}

{% block firstRow %}
    <p>
    <span style="color: #a6a6a6">

    </span>
    </p>
    <p>{{primaryMainContactFirstName}},</p>
    <p>{{contactFirstName}} {{contactLastName}} has tried to raise a support request with us but they currently have the support level {contactSupportLevel} and as such are unable to do so.

You will need to contact us on their behalf to progress this request and in future, if you would like them to be able to raise requests themselves, then please log onto our portal and change their support level.
    </p>
{% endblock %}

{% block secondRow %}

{% endblock %}

{% block thirdRow %}

{% endblock %}

{% block serviceRequestURL %}
    Click here  https://www.cnc-ltd.co.uk/portal/contacts/ to see more details on our portal
{% endblock %}

{% block footerStatus %}
   Fixed
{% endblock %}

{% block feedbackURL %}
    rviceid={{activityRef}}
{% endblock %}