{% extends '@customerFacing/wrapper.html.twig' %}
{# @var data \CNCLTD\TwigDTOs\ServiceRequestFixedDTO #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    There's been an update to your service request
{% endblock %}

{% block content %}
    <p>{{ data.contactFirstName }}</p>
    <p>This has now been marked as fixed on our system and a summary of the original request and resolution are detailed
        below:
    </p>

    <p>Original Request:</p>
    <table style="width: 100%">
        <tr>
            <td class="details">
                {{ data.firstActivityReason | raw }}
            </td>
        </tr>
    </table>
    <p>
        Resolution Summary:
    </p>
    <table style="width: 100%">
        <tr>
            <td class="details">
                {{ data.lastActivityReason | raw }}
            </td>
        </tr>
    </table>
    <p>
        If you believe that this is not resolved, simply reply to this email within a couple of days with your
        explanation and we will
        investigate further before re-opening.
    </p>
{% endblock %}

{% block serviceRequestURL %}https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}{% endblock %}

{% block footerStatus %}
    Fixed
{% endblock %}

{%- block feedbackURL -%}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}
{%- endblock -%}