{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var data CNCLTD\TwigDTOs\SiteVisitDTO #}
{% block headerTitle %}
    Site Visit Information
{% endblock %}

{% block headerContet %}
    We're coming to site!
{% endblock %}

{% block firstRow %}
    <p>{{ data.contactFirstName }}</p>
    <p>
        We are pleased to confirm that {{ data.engineerFullName }} will visit your site
        at {{ data.siteAdd1 }} {{ data.siteAdd2 }} {{ data.siteAdd3 }} {{ data.siteTown }}
        {{ data.sitePostcode }} on
        {{ data.visitActivityDate }} in the {{ data.visitActivityTimeOfTheDay }}.
    </p>
    <p>
        {{ data.visitActivityReason }}
    </p>
    <p>
        If there are any problems keeping this appointment then please contact our ServiceDesk to rearrange.
    </p>
{% endblock %}

{% block secondRow %}

{% endblock %}

{% block thirdRow %}

{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}
{% endblock %}

{% block footerStatus %}
    In Progress
{% endblock %}

{% block feedback %}
    <br>
{% endblock %}