{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var integer activityRef #}
{# @var string lastActivityReason #}
{# @var string technicianResponsible #}
{# @var string extra #}
{# @var string contactFirstName #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    There's been an update to your service request
{% endblock %}

{% block firstRow %}
    <p>
    <span style="color: #a6a6a6">

    </span>
    </p>
    <p>{{ contactFirstName }},</p>
    <p>We have carried out work on your service request reference
        <a href="https://www.cnc-ltd.co.uk/view/?serviceid={{ activityRef }}">{{ activityRef }}</a>
        as detailed below.
    </p>
{% endblock %}

{% block secondRow %}
    <h2>Details</h2>
    <p class="singleBorder">{{ lastActivityReason }}</p>
    <P>The technician responsible for this was {{ technicianResponsible }}. {{ extra }}</P>
{% endblock %}

{% block thirdRow %}
    Best Regards
{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{activityRef}}
{% endblock %}

{% block footerStatus %}
    Fixed
{% endblock %}

{% block feedbackURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{activityRef}}
{% endblock %}