{% extends '@customerFacing/wrapper.html.twig' %}
{# @var string contactName #}
{# @var string companyName #}
{# @var string addressLine1 #}
{# @var string town #}
{# @var string county #}
{# @var string postCode #}
{# @var string date #}
{# @var string contactName #}
{# @var string invoiceNo #}
{# @var string paymentDate #}
{# @var string totalAmount #}

{% block headerTitle %}
    Billing Notice
{% endblock %}

{% block headerContet %}
    Advance Notification of a Direct Debit Collection
{% endblock %}

{% block content %}
    <table class="fullWidthTable">
        <tbody>
        <tr>
            <td>
                {{contactName}}
            </td>
            <td style="text-align: right">
                Computer & Network Consultants Ltd
            </td>
        </tr>
        <tr>
            <td>
                {{companyName}}
            </td>
            <td style="text-align: right">
                CNC Ltd
            </td>
        </tr>
        <tr>
            <td>
                {{addressLine1}}
            </td>
            <td style="text-align: right">
                Lady Bee Enterprise Centre
            </td>
        </tr>
        <tr>
            <td>
                {{town}}
            </td>
            <td style="text-align: right">
                Albion Street
            </td>
        </tr>
        <tr>
            <td>
                {{county}}
            </td>
            <td style="text-align: right">
                Southwick
            </td>
        </tr>
        <tr>
            <td>
                {{postCode}}
            </td>
            <td style="text-align: right">
                Brighton
            </td>
        </tr>
        <tr>
            <td>
                Date: {{date}}
            </td>
            <td style="text-align: right"
            >BN42 4BW</td>
        </tr>
        </tbody>
    </table>


    <p> Dear {{contactName}}</p>
    <p>
        We are writing to advise you that we will be collecting the following payment by Direct Debit on or just after
        the advised date.
    </p>


    <table class="report-table">
        <tbody>
        <tr>
            <td> Service User Name:</td>
            <td> Computer &amp; Network Consultants Ltd</td>
        </tr>
        <tr>
            <td> Service User Number:</td>
            <td> 446364</td>
        </tr>
        <tr>
            <td> Reference:</td>
            <td> {{invoiceNo}}</td>
        </tr>
        <tr>
            <td> Payment Date:</td>
            <td> {{paymentDate}}</td>
        </tr>
        <tr>
            <td> Amount:</td>
            <td> £{{totalAmount}}</td>
        </tr>
        </tbody>
    </table>

    <p>
        If any of the above details are incorrect, please call us as soon as possible on 01273 384100 or e-mail us at
        accounts@cnc-ltd.co.uk. However, if your details are correct you need do nothing and your Direct Debit will be
        processed as normal. For your information, the collections will be made using the reference above.
    </p>
    <p>
        Should the amount, date or frequency of your Direct Debit change, we will notify you at least 10 working days in
        advance.
    </p>

    <p>
        Yours sincerely, Accounts Team
    </p>
{% endblock %}

{% block leftFooter %}
    <br><br>
{% endblock %}

{% block rightFooter %}

{% endblock %}