{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var string extra #}
{# @var string contactFirstName #}
{# @var string MaincontactFirstName #}
{# @var string MaincontactLastName #}
{# @var string SupervisorcontactFirstName #}
{# @var string SupervisorcontactLastName #}
{% block headerTitle %}
    Information Notice
{% endblock %}

{% block headerContet %}
    Sorry, something didn't quite work out
{% endblock %}

{% block firstRow %}
    <p>
    <span style="color: #a6a6a6">

    </span>
    </p>
    <p>{{ contactFirstName }},</p>

We're sorry but you are not authorised to raise support directly with CNC and this request has not been logged.

Please ask one of the following people in your organsation to phone in on your behalf to progress your request.

XAVI THIS NEEEDS TO BE A LIST OF THE MAIN CONTACTS THEN SUPERVISOR CONTACTS
{{MaincontactFirstName}} {{MaincontactLastName}} 
{{MaincontactFirstName}} {{MaincontactLastName}} 
{{MaincontactFirstName}} {{MaincontactLastName}} 
{{MaincontactFirstName}} {{MaincontactLastName}} 
{{SupervisorcontactFirstName}} {{SupervisorcontactFirstName}}
{% endblock %}

{% block secondRow %}

{% endblock %}

{% block thirdRow %}
 
{% endblock %}

{% block serviceRequestURL %}

{% endblock %}

{% block footerStatus %}
   
{% endblock %}

{% block feedbackURL %}

{% endblock %}