{% extends '@customerFacing/wrapper.html.twig' %}
{# @var data \CNCLTD\TwigDTOs\PriorityChangedDTO #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    We've modified your request
{% endblock %}

{% block content %}
    <p>{{ data.contactFirstName }}</p>
    <p>
        Service request reference {{ data.serviceRequestId }} has been changed on our system from a
        priority {{ data.oldPriority }} to
        a priority {{ data.newPriority }} request.
    </p>
    {% if (data.serviceRequestStatus == 'Logged') %}
        <p>
            {% if data.newPriority == 5 %}
                This work is project related and we will provide an update or be in touch to discuss the details with you soon.
            {% else %}
                We'll aim to respond to this request within {{ data.SLA }} working hours.
            {% endif %}
        </p>
    {% endif %}
    <table style="width: 100%">
        <tr>
            <td class="details">
                {{ data.lastActivityReason|raw }}
            </td>
        </tr>
    </table>
{% endblock %}

{% block serviceRequestURL %}https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}{% endblock %}

{% block footerStatus %}
    {{ data.serviceRequestStatus }}
{% endblock %}

{% block feedback %}

{% endblock %}