{% extends '@customerFacing/wrapper.html.twig' %}
{# @var integer serviceRequestId #}
{# @var string lastActivityReason #}
{# @var string contactFirstName #}
{# @var integer oldPriority #}
{# @var integer newPriority #}
{# @var float SLA #}
{# @var string serviceRequestStatus  the status of the request "Initial"|"In Progress"|"On Hold" #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    We've modified your request
{% endblock %}

{% block content %}
    <p>{{ contactFirstName }},</p>
    <p>
        Service request reference {{ serviceRequestId }} has been changed on our system from a
        priority {{ oldPriority }} to
        a priority {{ newPriority }} request.
    </p>
    {% if (serviceRequestStatus == 'Initial') %}
        <p>
            We will aim to respond to this request within {{ SLA }} working hours.
        </p>
    {% endif %}

    {{ lastActivityReason }}


{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ serviceRequestId }}
{% endblock %}

{% block footerStatus %}
    {{ serviceRequestStatus }}
{% endblock %}

{% block feedback %}

{% endblock %}