<h2>Disk Space</h2>
<table class="collapse">
    <thead>
    <tr>
        <th>Agent Name</th>
        <th>Letter</th>
        <th>Size</th>
        <th>Free Space</th>
        <th>Free Percent</th>
    </tr>
    </thead>
    <tbody style="font-size: small">
    {% for item in driveSpaceItems %}
        <tr>
            <td>{{ item.agentName }}</td>
            <td>{{ item.driveLetter }}</td>
            <td>{{ item.driveSize|MB2GB }}</td>
            <td>{{ item.driveFreeSpace|MB2GB }}</td>
            <td {{ getFreeSpaceClass(item) }}>{{ item.freePercent| freePercentage }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
