<h2>Disk Space</h2>
<table class="collapse">
    <thead>
    <tr>
        <th class="text-center">Agent Name</th>
        <th class="text-center">Letter</th>
        <th class="text-center">Size</th>
        <th class="text-center">Free Space</th>
        <th class="text-center">Free Percent</th>
    </tr>
    </thead>
    <tbody style="font-size: small">
    {% for item in driveSpaceItems %}
        <tr>
            <td class="text-center">{{ item.agentName }}</td>
            <td class="text-center">{{ item.driveLetter }}</td>
            <td class="text-center">{{ item.driveSize|MB2GB }}</td>
            <td class="text-center">{{ item.driveFreeSpace|MB2GB }}</td>
            <td class="text-center" {{ getFreeSpaceClass(item) }}>{{ item.freePercent| freePercentage }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
