{% extends '@customerFacing/wrapper.html.twig' %}
{# @var data \CNCLTD\TwigDTOs\ActivityLoggedDTO #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    We've got something to tell you
{% endblock %}

{% block content %}
    <p>{{ data.contactFirstName }},</p>
    <p>
        We have worked on your service request reference {{ data.serviceRequestId }} and have an update for you. A more
        detailed update is available in our portal but here's the short version.
    </p>
    <p>
        {{ data.lastActivityCustomerNotes | raw }}
    </p>
    <p>
        This update was added by {{ data.engineerFullName }}
    </p>
{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}
{% endblock %}

{% block footerStatus %}
    {{ data.serviceRequestStatus }}
{% endblock %}

{% block feedback %}

{% endblock %}