{% extends '@customerFacing/wrapper.html.twig' %}
{# @var data \CNCLTD\TwigDTOs\ServiceRequestLoggedDTO #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    A new Service Request has been raised
{% endblock %}

{% block content %}
    <p>{{ data.contactFirstName }},</p>
    <p> A new service request has been logged with our ServiceDesk under reference {{ data.serviceRequestId }} and it
        will
        help
        if you could please refer to it in all related communications with us.
    </p>
    <p>Details: {{ data.reason |raw }}</p>

    <p>
        Priority: {{ data.priority }} -
        {% if data.serviceRequestStatus == 'Initial' %}
            We will aim to respond to this request within {{ data.SLA }} working hours.
            However, we may adjust the priority of this request if necessary and will inform you if we do.
        {% else %}
            We have started working on this immediately.
        {% endif %}
    </p>

    {% if data.serviceRequestStatus == 'Initial' %}
        <p>
            {% if not data.isLoggedOutOfHours %}
                This request has been submitted to the relevant team who will contact you to arrange any and all appropriate
                action.
            {% elseif data.support24 %}
                This request will be responded to when the office is next open, but if you have an out of hours PIN
                code listed on our customer portal, you may call our offices to speak to one of our on-call technicians.  Please note that there are extra charges for this service as detailed in the guide on our portal for service outside our core opening hours of Monday - Friday 07:30 - 20:00.
            {% elseif data.hasServiceDesk %}
                This request will be responded to when the office is next open, but if you have an out of hours PIN
                code listed on our customer portal, you may call our offices to speak to one of our on-call technicians.
            {% else %}
                This request will be responded to when the office is next open.
            {% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}
{% endblock %}

{% block footerStatus %}
    {{ data.serviceRequestStatus }}
{% endblock %}

{% block feedback %}
    <br>
{% endblock %}