{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var data \CNCLTD\TwigDTOs\SalesOrderServiceRequestCreatedDTO #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    A new Service Request has been raised
{% endblock %}

{% block firstRow %}
    <p>{{ data.contactFirstName }},</p>
    <p> A new service request has been logged with our ServiceDesk under reference {{ data.serviceRequestId }} and it
        will help if you could please refer to it in all related communications with us.
    </p>
    <p>Details: {{ data.reason }}</p>
{% endblock %}

{% block secondRow %}
    <p>
        Priority: 5 - Project Work
    </p>
{% endblock %}

{% block thirdRow %}
    <p>
        This request has been submitted to our {{ data.teamName }} team who will contact you to arrange any further action.
    </p>
{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}
{% endblock %}

{% block footerStatus %}
    {{ data.serviceRequestStatus }}
{% endblock %}

{% block feedback %}
    <br>
{% endblock %}