{% extends "@internal/wrapper.html.twig" %}
{# @var data #}
{% block content %}
    <p>Here's the details of your feedback.</p>
    <table>
        <tr>
            <td>Customer:</td>
            <td>{{ customer }}</td>
        </tr>
        <tr>
            <td>Service Request:</td>
            <td><a href="{{ urlService }}">{{ serviceRequestId }}</a>
            </td>
        </tr>
        <tr>
            <td>Feedback rating:</td>
            <td>{{ rate }}</td>
        </tr>
        <tr>
            <td>Comments:</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">{{ comments }}</td>
        </tr>
    </table>

{% endblock %}