{# @var favouriteItems \CNCLTD\MenuItem[] #}
{% for favouriteItem in favouriteItems %}
    <li>
        <a href="{{ item.href }}"
        {% for attrName, attrValue in item.attributes %}
            {{ attrName }}="{{ attrValue }}"
        {% endfor %}
        >
        {{ item.label }}
        </a>
        <a href="#"
           class="float-right favourited"
           onclick="toggleFavourite({{ favouriteItem.id }}, true)"
        ><i class="fa fa-star"></i></a>
        </a>
    </li>
{% endfor %}