{% extends '@customerFacing/wrapper.html.twig' %}
{# @var data CNCLTD\TwigDTOs\SiteVisitDTO #}
{% block headerTitle %}
    Site Visit Information
{% endblock %}

{% block headerContet %}
    We're coming to site!
{% endblock %}

{% block content %}
    <p>{{ data.contactFirstName }}</p>
    <p>
        We're pleased to confirm that {{ data.engineerFullName }} will visit your site
        at {{ data.siteAdd1 }} {{ data.siteAdd2 }} {{ data.siteAdd3 }} {{ data.siteTown }}
        {{ data.sitePostcode }} on
        {{ data.visitActivityDate }} in the {{ data.visitActivityTimeOfTheDay }}.
    </p>
    <table style="width: 100%">
        <tr>
            <td class="details">
                {{ data.visitActivityReason|raw }}
            </td>
        </tr>
    </table>
    <p>
        If there are any problems keeping this appointment then please contact our ServiceDesk to rearrange.
    </p>
{% endblock %}

{% block serviceRequestURL %}https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ data.serviceRequestId }}{% endblock %}

{% block footerStatus %}
    In Progress
{% endblock %}

{% block feedback %}
    <br>
{% endblock %}