{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var integer serviceRequestId #}
{# @var string contactFirstName #}
{# @var string reason #}
{# @var integer priority #}
{# @var string serviceRequestStatus the status of the request "Initial"|"In Progress"|"On Hold" #}
{# @var float SLA #}
{% block headerTitle %}
    Service Request Information
{% endblock %}

{% block headerContet %}
    A new Service Request has been raised
{% endblock %}

{% block firstRow %}
    <p>{{ contactFirstName }},</p>
    <p> A new service request has been logged with our ServiceDesk under reference {{ serviceRequestId }} and it will
        help
        if you could please refer to it in all related communications with us.
    </p>
    <p>Details: {{ reason }}</p>
{% endblock %}

{% block secondRow %}
    <p>
        Priority: {{ priority }} -
        {% if serviceRequestStatus == 'Initial' %}
            We will aim to respond to this request within {{ SLA }} working hours.
            However, we may adjust the priority of this request if necessary and will inform you if we do.
        {% else %}
            We have started working on this immediately.
        {% endif %}
    </p>
{% endblock %}

{% block thirdRow %}
    {% if serviceRequestStatus == 'Initial' %}
        <p>This request has been submitted to the relevant team who will contact you to arrange any and all appropriate
            action.</p>
    {% endif %}
{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/service-requests/view/?serviceid={{ serviceRequestId }}
{% endblock %}

{% block footerStatus %}
    {{ serviceRequestStatus }}
{% endblock %}

{% block feedback %}
    <br>
{% endblock %}